
.tituloVenta{
    margin-top: 50px;
    text-align: center;
}
.containerProducts{
    width: 80%;
    height: 100vh;
    margin-left: 17%;
    /* background: wheat; */
}
.containerTitulo{
    position: relative;
    margin-bottom: 30px;
}
.btnVentaRegistrarP{
    position: absolute;
    left: 200px;
    bottom: 1px;

    background-color: rgb(9, 94, 9);
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.btnVentaBuscarProducto{
    position: absolute;
    right: 200px;
    bottom: 1px;

    background-color: rgb(9, 94, 9);
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.containerTabla{
     width: 100%;
    /* background-color: gray; */
    box-shadow: 3px 3px 11px 0px black;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
}
.containerTabla h2{
    text-align: center;
}